
    <div class="card">
      <div class="img-wrapper">
        <img *ngIf="propertyList.Image" class="card-img-top" src="assets\Images\{{propertyList.Image}}.png" >
        <img *ngIf="!propertyList.Image" class="card-img-top" src="assets\Images\house_default.jpg" >
        <ul class="list-inline text-center member-icons animate">
          <li class="list-inline-item">
            <button class="btn btn-primary btn-sm" routerLink="/property-detail/{{propertyList.Id}}"  ><i class="far fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary btn-sm"><i class="far fa-address-book"></i></button>
          </li>
        </ul>
      </div>

      <div class="card-body p-2">
        <h1>{{propertyList.Name}}</h1>
        <h2>{{propertyList.Type}}</h2>
        <h3>{{propertyList.Price}}</h3>
      </div>
    </div>

